@tailwind base;
@tailwind components;
@tailwind utilities;
.container {
    @apply max-w-7xl mx-auto;
}

.index-body {
    @apply my-10;
}

.nav-logo {
    @apply h-7 mb-3 mt-3 w-auto;
}

.nav-link {
    @apply text-sm justify-center mb-3 md:mb-0;
    padding: 0 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #4f4f4f;
}

.social-auth-btn img {
    height: 60px;
    width: auto;
    margin-bottom: 15px;
}

#nprogress .bar {
    z-index: 5000 !important;
}

#nprogress .spinner {
    z-index: 5000 !important;
}

#nprogress .peg {
    z-index: 5000 !important;
}