@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.container {
    @apply max-w-7xl mx-auto;
}

.index-body {
    @apply my-10;
}

.nav-logo {
    @apply h-7 mb-3 mt-3 w-auto;
}

.nav-link {
    @apply text-sm justify-center mb-3 md:mb-0;
    padding: 0 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #4f4f4f;
}

.btn-dark {
    @apply inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition;
}
